<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tiantian.tianqi">
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--android 9.0上使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--获取手机IMEI-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
   <!-- 屏幕保持唤醒 不锁屏-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.example.tianqi.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="${app_name_channel}"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:label">


        <!--入口-->
        <activity
            android:name="com.example.tianqi.ui.activity.BeginActivity"
            android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.example.tianqi.ui.activity.CityManageActivity"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity android:name="com.example.tianqi.ui.activity.ChangePwdActivity" />
        <activity android:name="com.example.tianqi.ui.activity.RegisterActivity" />
        <activity
            android:name="com.example.tianqi.ui.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.example.tianqi.ui.activity.AgreementActivity" />
        <activity android:name="com.example.tianqi.ui.activity.PrivacyActivity" />
        <activity android:name="com.example.tianqi.ui.activity.AboutActivity" />
        <activity android:name="com.example.tianqi.ui.activity.BackActivity" android:theme="@style/TransparentTheme"></activity>
        <activity android:name="com.example.tianqi.base.BaseMainActivity" />
        <activity
            android:name="com.example.tianqi.ui.activity.MainActivity"
             android:hardwareAccelerated="true"
            android:launchMode="singleTask" />
        <activity android:name="com.example.tianqi.ui.activity.AirActivity" android:launchMode="singleTop"/>
        <activity android:name="com.example.tianqi.ui.activity.Day15Activity" android:launchMode="singleTop"/>
        <activity android:name="com.example.tianqi.ui.activity.FirstLocationActivity"  android:launchMode="singleTop" android:theme="@style/DefaultCityPickerTheme" />
        <activity android:name="com.example.tianqi.ui.activity.HuangLiActivity"/>
        <activity android:name="com.example.tianqi.feedback.SendFeedbackActivity"
            android:windowSoftInputMode="adjustPan"/>

        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <meta-data
            android:name="APP_NAME"
            android:value="${app_name_channel}" />


        <!--微信登陆-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/TransparentTheme"
            android:taskAffinity="com.tiantian.tianqi"
           ></activity>
        <!--============================================================================================-->



        <!-- QQ第三方登陆———————————— -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1110633257" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--====================================================================================-->


        <!-- 穿山甲广告 -->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- ===================================================================== -->


        <!-- 广点通 -->
        <!-- 声明SDK所需要的组件 -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                tools:replace="android:resource"
                android:resource="@xml/gdt_file_path" />
        </provider>


        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />

        <!-- ===================================================================== -->


        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="046f1092ab638d6119bac876061aec77"/>

        <service android:name="com.amap.api.location.APSService"></service>


        <!--友盟-->
        <meta-data android:value="5f8d051ba88dfc3eb93ab173" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>


    </application>

</manifest>