<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_ad">

    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application >

        <activity android:name=".activity.BackActivity"/>
        
        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>
    </application>
</manifest>